//Colors

$color-primary: #003b5c;
$color-secondary: #e74832;

$color-alternate: #5d534f;
$color-alternate-light: #e5dbd1;

$color-white: #f2f2f2;

//Fonts

$font-header: 'Questrial', sans-serif;
$font-text: 'Libre Baskerville', serif;
